body {
    background-color: darkgoldenrod;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: rgb(51, 255, 0);
}

h2 {
    position: relative;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 255, 242);
}

.buttonscentering {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ans {
    padding: 55px;
    font-size: 50px;
    background-color: blueviolet;
    color: aqua;
    text-decoration: none;
    border-radius: 25px;
    border-color: rgb(0, 255, 106);
    border-width: 15px;
    margin-right: 15px;
    margin-left: 15px;
    width: 500px;
    text-align: center;
}

footer {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
}